<!DOCTYPE html>
<html lang="kr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layout/mainLayout">
<th:block th:fragment="footerFragments">
    <footer class="bg-light py-3 mt-4 border-top fixed-bottom">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <p class="col-md-4 mb-0 text-muted">&copy; 2024 YOZM-Health</p>
                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">홈</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">개인정보 처리방침</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">이용약관</a></li>
                </ul>
            </div>
        </div>
    </footer>
</th:block>
</html>