<!DOCTYPE html>
<html lang="kr"
      layout:decorate="~{layout/mainLayout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 조회</title>
    <style>
        .btn-outline-primary {
            color: black; /* 글자색을 검정색으로 설정 */
            border: 1px solid black; /* 테두리 색상을 검정색으로 설정 */
            font-weight: bold; /* 글자 두께를 굵게 설정 */
        }

        .btn-outline-primary:hover {
            color: black; /* 호버 시 글자색 유지 */
            border: 1px solid black; /* 호버 시 테두리 색상 유지 */
            background-color: transparent; /* 호버 시 배경색 유지 */
        }

        .btn-outline-primary:focus {
            color: black; /* 포커스 시 글자색 유지 */
            border: 1px solid black; /* 포커스 시 테두리 색상 유지 */
            outline: none; /* 포커스 아웃라인 제거 */
        }

        .next-previous-container {
            display: flex;
            justify-content: space-between; /* 양쪽 끝에 배치 */
            padding: 10px 0; /* 상하 여백 */
        }

        .previous-board {
            flex: 0 1 auto; /* 이전글은 필요한 공간만 차지 */
        }

        .next-board {
            flex: 0 1 auto; /* 다음글도 필요한 공간만 차지 */
            margin-left: auto; /* 자동 여백을 사용하여 오른쪽으로 밀기 */
        }
    </style>
</head>
<body>
<th:block layout:fragment="contents">
    <div class="container container-with-scroll mt-5">
        <!-- 카테고리 -->
        <div class="mb-4">
            <h2>인기 카테고리</h2>
            <th:block th:unless="${#lists.isEmpty(category)}">
                <div class="d-flex flex-wrap gap-2">
                    <button class="btn btn-outline-primary"
                            th:each="category : ${category}"
                            th:onclick="'location.href=\'/category/' + ${category.getCatCode()} + '\''"
                            th:text="${'#' + category.catName + ' (' + category.postCount + ')'}">
                    </button>
                </div>
            </th:block>
            <th:block th:if="${#lists.isEmpty(category)}">
                카테고리가 없습니다.
            </th:block>
        </div>
        <!--게시글내용-->
        <div class="card">
            <div class="card-header">
                <input id="userNo" th:value="${board.userNo}" type="hidden">
                <input id="boardNo" th:value="${board.boardNo}" type="hidden">
                <h5 th:text="${board.boardTitle}"/>
                <span class="badge bg-primary">[[${board.boardAuthor}]]</span>
                <small style="float: right;" th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"/>
            </div>
            <div class="card-body">
                <p th:utext="${board.boardContent}"></p>
                <div class="d-flex">
                    <span class="ms-auto">조회수: <span th:utext="${board.readCount}"></span></span>
                </div>
                <div class="my-3">
                    <th:block th:each="fileList:${attachList}" th:unless="${#lists.isEmpty(attachList)}">
                        <a th:href="@{|/api/download/${fileList.getOriginName()}|}">
                            <span th:text="${fileList.getOriginName()}"></span>
                        </a>
                    </th:block>
                    <th:block th:if="${#lists.isEmpty(attachList)}">
                        <span>첨부 파일이 없습니다.</span>
                    </th:block>
                </div>
                <!-- URL 복사 & Kakao 공유 기능 -->
                <div class="d-flex justify-content-center my-3">
                    <div class="d-flex flex-column align-items-center mx-3">
                        <i class="fa-solid fa-link" onclick="copyURL()" style="cursor: pointer; font-size: 24px"></i>
                        <span>URL 복사</span>
                    </div>

                    <div class="d-flex flex-column align-items-center mx-3">
                        <a class="d-flex flex-column align-items-center mx-3" href="javascript:shareMessage()">
                            <img src="https://cf.monsterzym.com/images/design/themes/responsive/media/images/addons/mz_community/mz_community_share_icon_kakaotalk.png?v=1"
                                 style="width: 24px; height: 24px; vertical-align: middle; cursor: pointer">
                            <span>Kakao 공유하기</span>
                        </a>
                    </div>
                </div>
                <script>
                    Kakao.init(`[[${kakaoApiKey}]]`);

                    function shareMessage() {
                        console.log(Kakao.isInitialized());
                        const defaultImageUrl = 'https://example.com/default-image.jpg';
                        Kakao.Share.sendDefault({
                            objectType: 'feed',
                            content: {
                                title: '[[${board.boardTitle}]]', // 여기서 게시글 제목을 넣어주세요
                                description: '[[${board.boardContent}]]', // 게시글 설명을 넣어주세요
                                imageUrl: defaultImageUrl, // 게시글 이미지 URL
                                link: {
                                    mobileWebUrl: 'http://localhost:8091/page/[[${board.boardNo}]]', // 모바일 웹 URL
                                    webUrl: 'http://localhost:8091/page/[[${board.boardNo}]]' // 웹 URL
                                }
                            },
                            buttons: [
                                {
                                    title: '웹에서 보기',
                                    link: {
                                        mobileWebUrl: 'http://localhost:8091/page/[[${board.boardNo}]]', // 모바일 웹 URL
                                        webUrl: 'http://localhost:8091/page/[[${board.boardNo}]]' // 웹 URL
                                    }
                                }
                            ]
                        });
                    }
                </script>
                <!--이전글/다음글-->
                <div class="next-previous-container">
                    <div class="previous-board" th:each="nextPrevious:${nextPrevious}">
                        <div th:if="${board.boardNo < nextPrevious.boardNo}">
                            <a th:href="@{'/page/'+${nextPrevious.boardNo}}">
                            <span>
                                다음글
                            </span>
                            </a>
                        </div>
                        <div class="next-board" th:if="${board.boardNo > nextPrevious.boardNo}">
                            <a th:href="@{'/page/'+${nextPrevious.boardNo}}">
                            <span class="ms-auto">
                                이전글
                            </span>
                            </a>
                        </div>
                    </div>
                </div>
                <button class="btn btn-outline-primary" onclick="moveToBoardList()" type="button">글목록</button>
                <button class="btn btn-outline-primary" onclick="moveToUpdateBoardPage()" type="button">글수정</button>
            </div>
        </div>
        <!-- 댓글 리스트 -->
        <div class="card-footer">
            <h6>댓글</h6>
            <div id="replyContainer"></div>
        </div>
        <!-- 댓글 입력 폼 -->
        <div class="mt-4">
            <form>
                <div class="mb-3">
                    <label class="form-label" for="replyAuthor">닉네임</label>
                    <input class="form-control" id="replyAuthor" name="replyAuthor" placeholder="닉네임을 입력하세요" required
                           type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="commentContent">댓글 내용</label>
                    <textarea class="form-control" id="commentContent" name="replyContents" placeholder="댓글을 입력하세요"
                              required rows="3"></textarea>
                </div>
                <button class="btn btn-primary" onclick="insertReply()" type="button">댓글 작성</button>
            </form>
        </div>
    </div>
    <script th:src="@{/js/board/boardDetail.js}"></script>
    <script th:src="@{/js/reply/boardReply.js}"></script>
</th:block>
</body>
</html>