<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yozmhealth.board.mapper.BoardMapper">
    <!--게시글 목록(페이징 + 검색) +공지 게시글 추가-->
    <select id="findAll" resultType="com.example.yozmhealth.board.vo.dto.BoardDto$BoardResponse">
        SELECT
            b.BOARD_NO,
            b.BOARD_TITLE,
            b.BOARD_CONTENT,
            b.BOARD_AUTHOR,
            b.READ_COUNT,
            b.BOARD_CODE,
            b.BOARD_STATUS,
            b.CREATE_DATE
        FROM
            board b
        JOIN
            category c
        ON
            b.BOARD_CODE = c.CAT_CODE
        WHERE
            b.BOARD_DEL_FL = 'N' AND b.BOARD_STATUS = 'C'
        <if test="boardCode != null and boardCode != 0">
            AND b.BOARD_CODE = #{boardCode}
        </if>
        <if test="searchType == 'T'.toString() and keyword != null and keyword != ''">
            AND b.BOARD_TITLE LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="searchType == 'C'.toString() and keyword != null and keyword != ''">
            AND b.BOARD_CONTENT LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="searchType == 'A'.toString() and keyword != null and keyword != ''">
            AND b.BOARD_AUTHOR LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY
            b.BOARD_NO DESC
        LIMIT #{perPageNum} OFFSET #{pageStart}
    </select>

    <!--게시글 조회-->
    <select id="findByBoardId" parameterType="Long" resultType="com.example.yozmhealth.board.vo.dto.BoardDto$BoardResponse">
        select
            b.board_no,
            b.board_title,
            b.board_content,
            b.board_author,
            b.read_count,
            b.user_no,
            b.create_date
        from
            board b
        where
            b.BOARD_NO = #{boardNo} and b.board_del_fl = 'N' and b.BOARD_STATUS = 'C'
    </select>

    <!--게시글 갯수-->
    <select id="boardTotalCount" resultType="Long">
        select
            count(*)
        from
            board b
        JOIN
            category c
        ON
            b.BOARD_CODE = c.CAT_CODE
        where
            b.BOARD_STATUS = 'C' and b.BOARD_DEL_FL = 'N'
        <if test="boardCode != null and boardCode != 0">
            AND b.BOARD_CODE = #{boardCode}
        </if>
        <if test="searchType == 'T'.toString() and keyword != null and keyword != ''">
            AND b.BOARD_TITLE like CONCAT('%', #{keyword}, '%')
        </if>
        <if test="searchType == 'C'.toString() and keyword != null and keyword != ''">
            AND b.BOARD_CONTENT like CONCAT('%', #{keyword}, '%')
        </if>
        <if test="searchType == 'A'.toString() and keyword != null and keyword != ''">
            AND b.BOARD_AUTHOR like CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <!--임시 게시글 갯수-->
    <select id="tempBoardTotalCount">
        select
            count(*)
        from
            board b
        where
            b.BOARD_STATUS = 'P' and b.BOARD_DEL_FL = 'N'
    </select>

    <!--자유 게시글 작성-->
    <insert id="insertBoard" parameterType="com.example.yozmhealth.board.vo.dto.BoardDto$BoardRequest" useGeneratedKeys="true" keyProperty="boardNo">
        insert into board (board_title,board_content,board_author,board_del_fl,board_code,board_status,user_no,read_count,create_date)
        values (#{boardTitle},#{boardContent},#{boardAuthor},'N',#{boardCode},#{boardStatus},#{userNo},0,now())
    </insert>

    <!--게시글 수정-->
    <update id="updateBoard">
        update
            board b
        <set>
            <if test="boardContent neq null and boardContent neq ''">
                b.BOARD_CONTENT = #{boardContent},
            </if>
            <if test="boardTitle neq null and boardTitle neq ''">
                b.BOARD_TITLE = #{boardTitle},
            </if>
            <if test="createDate neq null and createDate neq ''">
                b.CREATE_DATE = now()
            </if>
        </set>
        where
            b.BOARD_DEL_FL = 'N' and b.BOARD_NO = #{boardNo}
    </update>

    <!--게시글 삭제(논리삭제)-->
    <update id="deleteBoard" parameterType="Long">
        update
            board b
        set
            b.BOARD_DEL_FL = 'Y',
            b.BOARD_DEL_DATE = now()
        where
            b.BOARD_NO = #{boardNo}
    </update>

    <!--게시글 삭제(삭제 표시가 된 게시글 일괄삭제)-->
    <delete id="deleteBoardBatch" parameterType="Long">
        delete from
                   board b
        where
            b.BOARD_DEL_FL = 'Y'
        and
            b.BOARD_NO in
        <foreach  item="boardNo" collection="boardNos" open="(" separator="," close=")">
            #{boardNo}
        </foreach>
    </delete>

    <!--삭제 표시가 된 게시글이 3개월이 지났는지를 확인-->
    <select id="findExpiredBoardNos" resultType="Long">
        <![CDATA[
        select
            b.BOARD_NO
        from
            board b
        where b.BOARD_DEL_FL = 'Y' and b.BOARD_DEL_DATE < now() - interval 3 month
        ]]>
    </select>

    <!--게시글 조회수 증가-->
    <update id="readCountUp" parameterType="Long">
        update
            board b
        set
            b.READ_COUNT = b.READ_COUNT + 1
        where
            b.BOARD_NO = #{boardNo} and b.BOARD_DEL_FL = 'N';
    </update>

    <!--게시글 이전/다음글-->
    <select id="boardNextPrevious" parameterType="Long" resultType="com.example.yozmhealth.board.vo.dto.BoardDto$BoardResponse">
        <![CDATA[
        select
            b.BOARD_NO as boardNo,
            b.board_title as boardTitle
        from
            board b
        where
            BOARD_NO in(
                (select b.BOARD_NO from board b where b.BOARD_NO < #{boardNo}
                order by BOARD_NO desc limit 1),
                (select b.BOARD_NO from board b where b.BOARD_NO > #{boardNo}
                order by BOARD_NO limit 1)
            )
        order by BOARD_NO desc;
        ]]>
    </select>
</mapper>