.btn-outline-primary {
    color: black; /* 글자색을 검정색으로 설정 */
    border: 1px solid black; /* 테두리 색상을 검정색으로 설정 */
    font-weight: bold; /* 글자 두께를 굵게 설정 */
}

.btn-outline-primary:hover {
    color: black; /* 호버 시 글자색 유지 */
    border: 1px solid black; /* 호버 시 테두리 색상 유지 */
    background-color: transparent; /* 호버 시 배경색 유지 */
}

.btn-outline-primary:focus {
    color: black; /* 포커스 시 글자색 유지 */
    border: 1px solid black; /* 포커스 시 테두리 색상 유지 */
    outline: none; /* 포커스 아웃라인 제거 */
}

.next-previous-container {
    display: flex;
    justify-content: space-between; /* 양쪽 끝에 배치 */
    padding: 10px 0; /* 상하 여백 */
}

.previous-board {
    flex: 0 1 auto; /* 이전글은 필요한 공간만 차지 */
}

.next-board {
    flex: 0 1 auto; /* 다음글도 필요한 공간만 차지 */
    margin-left: auto; /* 자동 여백을 사용하여 오른쪽으로 밀기 */
}